<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-5 shadow text-center px-0 rounded">
      <h5 class="bg-light py-4 mb-4">ユーザーログイン</h5>
      <p>
        ユーザー名と<br>
        パスワードを入力してください。
      </p>

      <%= form_with model: @user, class: "px-4 mb-4", url: user_session_path do |f| %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-user"></i></div>
            </div>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザー名", class: "form-control"%>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
            </div>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-control" %>
          </div>
        </div>

        <div class="actions mt-5">
          <%= f.submit "サインイン", class: "btn btn-info btn-block btn-lg"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
