<div class="row">
  <div class="col-md-3">
    <h3>ジャンル検索</h3>
  </div>
  <div class="col-md-9">
    <div class="row mx-0 align-items-baseline">
      <h3>商品一覧</h3>
      <div>
        (全<%= @items.count %>件)
      </div>
    </div>
    <div class="row mx-0">
      <% @items.each do |item| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <%= image_tag item.get_image(500, 500), height: "150" %>
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text">¥<%= item.price %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>